/* Navbar Settings */
/* Set navbar brand color */
nav.navbar-brand {
  color: #ed0909;
}

/* Image Settings */
/* Set image background and borders */

img {
   padding:1px;
   border:1px solid #69757A;
   background-color:#aeaeae;
}

/* Input Form Settings */
/* Set width of input forms */

.form-control {
  width: 40%;
}
